.section_5{
    display: flex;
    flex-wrap: wrap;
}
.section_5 .title{
    width: 100%;
    font-weight: bold;
    font-size: 2.4em;
    padding: 24px 0;
    text-align: center;
}
.section_5 .our_work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    transition: 1s;
    max-height: 410px;
}
.section_5 .our_work .image{
    width: 408px;
    height: 408px;
    overflow: hidden;
}
.section_5 .our_work .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: .2rem;
    transition: .7s;
}
.section_5 .our_work .image img:hover{
    transform: scale(1.2);
}
.section_5 .buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.section_5 .buttons .h-btn{
    display: inline-block;
    padding: 14px 24px;
    border-radius: .25rem;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    border: 2px solid var(--gold);
    background-color: rgba(205, 162, 112, 0.11);
}
.section_5 .buttons .h-btn:hover{
    transition: .2s;
    border: 2px solid #e8b880;
}
.section_5 .buttons .open{

}
.section_5 .buttons .close{
    display: none;
}


.show_pictures_window{
    max-height: 3800px !important;
}


@media screen and (max-width: 1025px) {

}
@media screen and (max-width: 769px) {

}
@media screen and (max-width: 426px) {
    .section_5 .our_work .image{
        width: 90vw;
        height: 90vw;
        margin: 10px;
    }
    .section_5 .our_work{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        overflow: hidden;
        max-height: 90vw;
    }
}
@media screen and (max-width: 321px) {

}