body, html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Bebas Neue', cursive;
    color: var(--black);
}
:root{
    --bg_blue: rgb(102,117,153);
    --black: #282828;
    --gold: #cda270;
}